
.slimtable {
	border-collapse: collapse;
	border: 1px solid #ddd;

}

.slimtable th {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #6E6868;
	text-align: left;
	height: 31px;
	line-height: 17px;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.slimtable th.slimtable-activeth {
	background-color: #EBFBEF;
}

.slimtable td {
	border: 0px;
	color: #222;
	padding: 2px;
}

.slimtable tr:nth-child(even) {
	background-color: #fff;
}

.slimtable tr:nth-child(odd) {
}

/* Paging */
.slimtable-paging-div {
	margin-top: 5px;
	display: inline-block;
	width: 100%;
}

.slimtable-paging-seldiv {
	display: inline;
	float: right;
	color: #6E6868;
}

.slimtable-paging-select {
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 3px;
}

.slimtable-paging-btnsdiv {
	display: inline-block;
}

.slimtable-page-btn {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
	cursor: pointer;
	color:#000;
}

.slimtable-page-btn.active {
	background-color: #ccc;
}

/* Sprites */

.slimtable-sprites {
	margin-left: 2px;
	margin-right: 5px;
	vertical-align: middle;

	display: inline-block;
	background-image: url("arrows.png");
	width: 17px;
	height: 17px;
}

.slimtable-sortboth {
	background-position: -1px -1px;
}

.slimtable-sortnone {
	background-position: -19px -19px;
}

.slimtable-sortasc {
	background-position: -1px -19px;
}

.slimtable-sortdesc {
	background-position: -19px -1px;
}
