body {
    font-size: 11px;
    color: #2b2b2b;;
}

h3 {
    font-size: 12px;
    color: #7dc24b;
}

h5 {
 font-weight: bold;
    font-size: 11px;
}

.box {
    float:left;
    width: 150px;
    margin-right: 10px;
    padding: 5px;
}

div.line {
    border-bottom: 2px solid #7dc24b;
}

.middle-box
{
    width: 410px;
    margin: 0 auto;
    padding-top: 15px;
    border-bottom: 1px solid #1f1f1f;
}

.last-child{
    width: 410px;
    margin: 0 auto;
    padding-top: 15px;
}

.list-symbol-bullet li {
    line-height: 30px;
}

.smallbox {
    float: left;
    width: 200px;

}

.boxwrapper {
    width:700px ;
    padding-bottom: 10px;

}



.boxex1 {
    width: 220px;
    float: left;
    padding-top: 15px;
}

.boxex2 {
    width: 420px;
    float: left;
    padding-top: 5px;
    margin-left: 40px;
}

.innerbox1 {
    float: left;
    width: 160px;
}

.innerbox2 {
    float: right;
    width: 200px;
}

.fullbox{
    width: 425px;
}

.box-name {
    width: 480px;
    float: left;
}

.address {
    margin-top:20px;
}

.top-box {
    width: 250px;
    padding: 5px;
    padding-top: 30px;
    float: left;
    margin-left: 190px;
}

.col1 {
    width: 210px;
    float: left;
    padding-right:5px;
}

.col2 {
    width: 390px;
    float: left;

}

